# COMPARISON OPERATORS

In [1]:
num1 = int(input('Enter First Number:'))
num2 = int(input('Enter Second Number:'))
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)
print(num1 == num2)
print(num1 != num2)

Enter First Number:25
Enter Second Number:25
False
False
True
True
True
False

# LOGICAL OPEARTORS

In [2]:
print(num1  == num2 and num1 <= num2)
print(num1  == num2 or num1 <= num2)
print(not num1)

True
True
False

# IDENTITY OPERATORS

In [3]:
print(num1 is num2)
print(num1 is not num2)

True
False

# ITERABLE OBJECT (ADVANCE DATA TYPES)

In [4]:
numbers = (14,12,20,25,26,14,10,9,78,95,14,65)

In [5]:
print(len(numbers))

12

In [6]:
print(type(numbers))

<class 'tuple'>

In [8]:
print(numbers[5]) # forward selection of a value counting from 0

14

In [9]:
print(numbers[-7]) # backward selection of a values counting from -1

14

In [10]:
print(100 in numbers)

False

In [11]:
print(100 not in numbers)

True

In [12]:
print(numbers.count(14))

3

In [13]:
print(numbers.index(25))

3

# LIST

In [14]:
items = ['Banana','Apple','Lemon','Orange']

In [15]:
items.append('Pear')
print(items) # append will add the new the value at end of the existing list

['Banana', 'Apple', 'Lemon', 'Orange', 'Pear']

In [16]:
items.insert(3,'Strawberry')# insert will add the new the value at the specified location
#in the existing list
print(items)

['Banana', 'Apple', 'Lemon', 'Strawberry', 'Orange', 'Pear']

In [17]:
f = ['Lemon','Pear','Coconut']
items.extend(f)# extend will add  all values from an existing list to our present working list
print(items)

['Banana', 'Apple', 'Lemon', 'Strawberry', 'Orange', 'Pear', 'Lemon', 'Pear', 'Coconut']

In [18]:
items.pop(5) # pop will remove a value on the specified index location
print(items)

['Banana', 'Apple', 'Lemon', 'Strawberry', 'Orange', 'Lemon', 'Pear', 'Coconut']

In [19]:
items.remove('Lemon')# remove will drop  the specified  value 
print(items)

['Banana', 'Apple', 'Strawberry', 'Orange', 'Lemon', 'Pear', 'Coconut']

In [20]:
items.sort()
print(items)

['Apple', 'Banana', 'Coconut', 'Lemon', 'Orange', 'Pear', 'Strawberry']

In [23]:
items.reverse()
print(items)

['Strawberry', 'Pear', 'Orange', 'Lemon', 'Coconut', 'Banana', 'Apple']

In [24]:
items_copy = items.copy()
print(items_copy)

['Strawberry', 'Pear', 'Orange', 'Lemon', 'Coconut', 'Banana', 'Apple']

In [26]:
items_copy.clear()
print(items_copy)

[]

In [27]:
del(items_copy)
print(items_copy)

NameError: name 'items_copy' is not defined